:host {
  margin: 0 13vw 100px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  display: flex;
  justify-content: center;
  margin: 86px 24px 30px;

  img {
    height: auto;
    max-width: 100%;
  }
}

.characters-list-wrap {
  height: auto;
  width: 100%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 24px;
}

@media (min-width: 2000px) {
  .characters-list-wrap {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1450px) {
  .characters-list-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .characters-list-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 870px) {
  .characters-list-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  :host {
    margin: 0 50px;
  }
}
@media (max-width: 600px) {
  :host {
    margin: 0 24px;
  }
}
@media (max-width: 430px) {
  .characters-list-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
