<div
    class="go-back"
    (click)="onGoBackClick()">
    <img
      class="go-back-image"
      src="/assets/images/characters-details/arrow_back_24px.png"
      alt="arrow back">
    GO BACK
  </div>
<div *ngIf="character"
  class="character-wrap">
  <img class="image" [src]="character.image" alt="image">
  <div class="name">{{ character.name }}</div>
  <div class="info">
    <div class="info-header">Informations</div>
    <div class="info-list">
      <div class="info-list-item gender">
        <div class="header">Gender</div>
        <div class="description">{{ character.gender }}</div>
      </div>
      <div class="info-list-item status">
        <div class="header">Status</div>
        <div class="description">{{ character.status | titlecase}}</div>
      </div>
      <div class="info-list-item specie">
        <div class="header">Specie</div>
        <div class="description">{{ character.species }}</div>
      </div>
      <div class="info-list-item origin">
        <div class="header">Origin</div>
        <div class="description">{{ character.origin | titlecase}}</div>
      </div>
      <div class="info-list-item type">
        <div class="header">Type</div>
        <div class="description">{{ character.type }}</div>
      </div>
    </div>
  </div>
</div>
